

<h1>About</h1>
<p>
  As the Internet of Things (IoT) grows more prevalent in our society, an average household infrastructure has provided a promising place for its implementation. In this project we aim to develop an infotainment system integrated with environmental monitoring, health monitoring and an entertainment system. An authenticated online accessible user interface for real-time monitoring, updates and actuation will be provided. We propose to develop a sleeve for the user that consists of a glove and a band which will be used to host the health monitoring sensors as well as to act as the controlling input to the gaming and the drawing subsystems.
</p>
